
.seachBox{border-radius: 30rpx;background: #f5f5f5;height: 60rpx;}
.seachBox .icon{width: 26rpx;height: 26rpx;margin-right: 10rpx;}	

.swiper-box {height: 360rpx;border-radius: 10rpx;box-sizing: border-box;overflow: hidden;}
.swiper-box swiper-item{width: 100%;}
.swiper-box image {width: 100%;height: 100%;}

/* 分类导航 */
.indHome{ flex-wrap:wrap;}
.indHome .item{width: 20%;text-align: center;padding-bottom: 15px; font-size: 26rpx; color: #222;display: flex; flex-direction: column;}
.indHome .item image{width:98rpx;height:99rpx; border-radius: 50%;margin: 0 auto 10rpx auto; }

/* 特色服务 */
.ind-service{align-items: flex-start; flex-wrap: wrap;}
.ind-service .item{position: relative;width: 340rpx;height: 340rpx;overflow: hidden;background: url(../../static/images/home-img.png) no-repeat 0 0/100% 100%;margin-bottom: 10rpx;box-sizing: border-box;padding: 40rpx 20rpx 10rpx 20rpx;}
.ind-service .item .infor{align-items: flex-start;margin-top: 36rpx;}
.ind-service .item .money{font-size: 30rpx;font-weight: bold;color: #ff5c11;margin-top: 20rpx;}
.ind-service .item .Rimg{width: 148rpx;height: 148rpx;}
.ind-service .item .Rimg image{width: 100%;height: 100%; display: block;}




